<!doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
        <!-- Custom styles for this template -->
        {% load static %}
        <link href="{% static 'DLSNPv1/style.css' %}" rel="stylesheet">
    
        <style>
            a.navbar-brand {
                font-size: large;
             }
        </style>
    
    </head>   
    <body>
       
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ><span style="color:White; font-weight:bold; font-size:100%; font-family:Comic Sans MS; ">Neglected Diseases in Marine Species</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/DLSNPv1/">Home</a></li>
            <li><a href="/DLSNPv1/about">About</a></li>
            <li><a href="/DLSNPv1/contact/">Contact</a></li>
            <li><a href="/DLSNPv1/tutoral/">Help</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br><br>
    <div class="container-fluid"> 
        <div class="container-fluid">
            <div class="col-xs-12 col-md-8">
               <br>
               <form  method="post">
                   {% csrf_token %}
                  <!-- {{youremail.as_ul}}  -->
                   <div class="form-group has-success">
                       <label class="col-xs-3 control-label" for="email">Enter your email:</label>
                       <div class="col-xs-offset-3 text-left">{{youremail.email}}</div>
                   </div> 
                   <button id="submitemail" type="submit" class="btn btn-success btn-sm">Submit</button>
               </form>
            </div>
       </div>
    </div>
    </body>
    <script>
          $(document).ready(function(){
               $("#submitemail").click(function(){
                    alert('Email address is successfully submitted.\nThe unique code will be sent to your email later.');
               })
                    

           });
    
    </script>
</html>

