<!doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="icon" href="../../favicon.ico">
        -->
        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
        <!-- Custom styles for this template -->
        {% load static %}
        <link href="{% static 'Codeathon/style.css' %}" rel="stylesheet">
    
        <style>
            a.navbar-brand {
                font-size: large;
             }
        </style>
    
    </head>   
    <body>
       
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ><span style="color:Orange; font-weight:bold; font-size:100%; font-family:Comic Sans MS; ">Aquapathopedia</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/Ocean/">Home</a></li>
            <li><a href="/Ocean/blast">Blast</a></li>
            <!--
            <li><a href="/Codeathon/contact/">Contact</a></li>
            <li><a href="/Codeathon/tutoral/">Help</a></li>  -->
          </ul>
          
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type='button' id='sendemail' class='btn btn-primary btn-xs' onclick='myFunction()'>Send email</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color:white;float:right;font-family:Georgia, serif;" id="busuanzi_container_site_uv">Total Vistors : <span style="color:orange;font-size:125%" id="busuanzi_value_site_uv"></span></span>

          <!--
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          
          <div class="col-md-offset-8" style="display:inline;">
               <button type='button' id='sendemail' class='btn btn-primary btn-xs' onclick='myFunction()'>Send email</button>
               <span style="color:white" id="busuanzi_container_site_uv">Total vistors: <span style="font-weight:bold" id="busuanzi_value_site_uv"></span></span>
          </div>
          -->
        </div>
      </div>
    </nav>
    <br><br><br>
    <div class="container-fluid"> 
        <ul class="nav nav-tabs">
             <li role="presentation" class="active"><a href="#">Step1: Input Key Words</a></li>
             <li role="presentation" class="disabled"><a href="/Codeathon/annotation/">Step2: Searching Database</a></li>
             <li role="presentation"><a href="/Codeathon/process/">Step3: Results & Download</a></li>
        </ul>
        <br>
        <div class="container-fluid">
           <div class="row">
              <div class="col-xs-12 col-md-8">
                       <!--{% load crispy_forms_tags %}-->
                       <form  class="modelform_arguments" method="post"  enctype="multipart/form-data">
                          {% csrf_token %}
                          {% for onefield in form %}
                              <div class="form-group has-success">
                                  <label class="col-md-3 control-label" for="inputSuccess1">{{onefield.label}}</label>
                                  <div class="col-md-offset-3 text-left" ><span style="color:black;">{{ onefield }}<span></div>
                              </div>
                          {% endfor %}
                          
                          <div id="aroundareabtn" class="form-group">
                              <div class="col-md-12">
                                  <button id="homepagesubmit" type="submit" class="btn btn-success" name='q'>Submit</button>
                              </div>
                         </div>
                       </form>
                   
              </div>
          </div>
       </div>

    </div><!-- /.container -->
    </body>
    <script>
       $(document).ready(function(){
         'use strict';
        // console.log('test javascript and jquery');
         
         var test = $('.modelform_arguments').html();
         console.log(test);
       /*
         var default1 = "prokaryotes";
         var default2 = "prokka";
         var default3 = "rasttk";
         
         $("select option").each(function(){
            if($(this).val()== default1){
               $(this).attr("selected", "selected");
            }
         });
         
         $("ul li label input").each(function(){
            if($(this).val()== default2){
               $(this).attr("checked", "checked");
            }
            if($(this).val()== default3){
               $(this).attr("checked", "checked");
            }
            if($(this).val()== "vapid"){
               $(this).attr("disabled", true);
            }
            if($(this).val()== "vadr"){
               $(this).attr("disabled", true);
            }
            if($(this).val()== "genemarkes"){
               $(this).attr("disabled", true);
            }
            if($(this).val()== "augustus"){
               $(this).attr("disabled", true);
            }
            if($(this).val()== "funannotate"){
               $(this).attr("disabled", true);
            }
         });
       */
         
         // add two buttons in a line
         $("#id_unique_code").after("  <button type='button' id='createcode' class='btn btn-warning btn-xs' title='Automatically create a new unique code'>Create unique code</button>  <p style='color:red;'> (Note: keep and use the unique-code to download the annotation result later)</p>");
         // create unique code 
         $("#createcode").click(function(){
                var randomlength = Math.ceil(Math.random()*15+5);
                var uniquestr = Math.random().toString(36).substr(3,randomlength) + Date.now().toString(36);
                $("#id_unique_code").val(uniquestr);
                $("#homepagesubmit").attr("disabled",false);
         });
         // if users input their own unique code:
         $("#id_unique_code").mouseup(function(){
             alert('If you want to enter unique code yourself, please include:\n1. At least 12 characters.\n2. At least one number or one letter.\n3. Optional one special symbol, such as @, #, $, %, &.');
             $("#homepagesubmit").attr("disabled",true);
         })
         
         $("#id_unique_code").blur(function(){
                 var useinputcode = $("#id_unique_code").val();
                 if (/\d/.test(useinputcode) == false){
                       $("#homepagesubmit").attr("disabled",true);
                       alert('No number is included!\nPlease re-enter a unique code with at least one number.');
                 } else if (/[a-zA-Z]/.test(useinputcode) == false){
                       $("#homepagesubmit").attr("disabled",true);
                       alert('No letter is included!\nPlease re-enter a unique code with at least one letter.');
                 } else if (useinputcode.length <12){
                       $("#homepagesubmit").attr("disabled",true);
                       alert('Length of unique code is less than 12!\nPlease re-enter a unique code with the length of over 12.'); 
                 } else {
                       $("#homepagesubmit").attr("disabled",false);
                 }
         })
         
         $("#id_user_email").attr({"value":"liulabdellserver@gmail.com", "style":"color:grey", "type":"hidden", "title":"Input your email address here."});
         $("#id_user_email").focus(function(){
              $("#id_user_email").attr("style", "color:black");
         })
         
         $("#id_email_notice").attr("title", "Check the option, if you want to get information about the unique code and annotaiton process by email.");
         //***********************************************
         $("label:eq(60)").attr("style", "display:none");
         //****************************************************
         $("#id_email_notice").on("click", function(){
               if ($("#id_email_notice").prop('checked')){
                    $("label:eq(60)").attr("style", "display:inline");
                    $("#id_user_email").attr({"value":"liulabdellserver@gmail.com", "style":"color:grey", "type":"email"});
               }else{
                    $("label:eq(60)").attr("style", "display:none");
                    $("#id_user_email").attr({"value":"liulabdellserver@gmail.com", "style":"color:grey", "type":"hidden"});
               }
         })
     /*    
         // special filling information for PGAP
         $("#id_genus_species").attr("title", "Binomial name, if the species is unknown, genus for the sequenced organism. This identifier must be valid in NCBI Taxonomy");
         $("#id_genus_species").focus(function(){
              $("#id_genus_species").attr("style", "color:black");
         })
         $("#id_genus_species").attr({"value":"genus species", "style":"color:grey", "type":"hidden"});
         $("label:eq(12)").attr("style","display:none");
         $("#id_tools_2").on("click", function(){
               if ($("#id_tools_2").prop('checked')){
                    alert('If you want to use PGAP pipeline, the binomial name (genus species) of your sequenced organism is required. This identifier must be valid in NCBI Taxonomy.\nPlease fill the input box of "Genus species" below.');
                    $("label:eq(12)").attr("style","display:inline");
                    $("#id_genus_species").attr({"value":"genus species", "style":"color:grey", "type":"text"});
               }else{
                    $("label:eq(12)").attr("style", "display:none");
                    $("#id_genus_species").attr({"value":"genus species", "style":"color:grey", "type":"hidden"});
               }
         })
         
         //special filling information for funannotate
         $("label:eq(13)").attr("style", "display:none");
         $("#id_reference_genomes").hide();
         $("#id_tools_3").on("click", function(){
               if ($("#id_tools_3").prop('checked')){
                    alert('1. A binomial name (genus species) of your sequenced organism is required. Please fill the input box of "Genus species" below.\n2. For Funannotate, a reference species should be selected. Note that for closely related species usually only one version is necessary. For example, the human version is good for all mammals.');
                    $("label:eq(12)").attr("style","display:inline");
                    $("label:eq(13)").attr("style","display:inline");
                    $("#id_genus_species").attr({"value":"genus species", "style":"color:grey", "type":"text"});
                    $("#id_reference_genomes").show();
               }else{
                    $("label:eq(12)").attr("style", "display:none");
                    $("label:eq(13)").attr("style", "display:none");
                    $("#id_genus_species").attr({"value":"genus species", "style":"color:grey", "type":"hidden"});
                    $("#id_reference_genomes").hide();
               }
         })
         
         // special filling information for augustus
         //$("label:eq(13)").attr("style", "display:none");
         //$("#id_reference_genomes").hide();
         $("#id_tools_4").on("click", function(){
               if ($("#id_tools_4").prop('checked')){
                    alert('For AUGUSTUS, a reference species should be selected.\nNote that for closely related species usually only one version is necessary. For example, the human version is good for all mammals.');
                    //$("label:eq(12)").attr("style","display:inline");
                    $("label:eq(13)").attr("style","display:inline");
                    //$("#id_genus_species").attr({"value":"genus species", "style":"color:grey", "type":"text"});
                    $("#id_reference_genomes").show();
               }else{
                    //$("label:eq(12)").attr("style", "display:none");
                    $("label:eq(13)").attr("style", "display:none");
                    //$("#id_genus_species").attr({"value":"genus species", "style":"color:grey", "type":"hidden"});
                    $("#id_reference_genomes").hide();
               }
         })
         
         $("#id_tools_6").on("click", function(){
               if ($("#id_tools_6").prop('checked')){
                    alert('Current installed VADR v1.1 can only annotate genome sequences from Norovirus, Dengue virus, and other Flaviviridae and Caliciviridae.');
               }
         })
         
         
    */     
       });
     
     /*  
       $("select").on("change",function(){
          var value = $(this).val();
          if (value == "virus"){
              $("ul li label input[value='vapid']").attr("disabled", false);
              $("ul li label input[value='vadr']").attr("disabled", false);
              $("ul li label input[value='genemarkes']").attr("disabled", true);
              $("ul li label input[value='augustus']").attr("disabled", true);
              $("ul li label input[value='funannotate']").attr("disabled", true);
              $("ul li label input[value='pgap']").attr("disabled", true);
              $("ul li label input[value='rasttk']").attr("disabled", true);
              $("ul li label input[value='prokka']").attr("disabled", true);
              $("ul li label input[value='prokka']").attr("checked", false);
              $("ul li label input[value='rasttk']").attr("checked", false);
          }
          if (value == "eukaryotes"){
              $("ul li label input[value='vapid']").attr("disabled", true);
              $("ul li label input[value='vadr']").attr("disabled", true);
              $("ul li label input[value='genemarkes']").attr("disabled", false);
              $("ul li label input[value='augustus']").attr("disabled", false);
              $("ul li label input[value='funannotate']").attr("disabled", false);
              $("ul li label input[value='pgap']").attr("disabled", true);
              $("ul li label input[value='rasttk']").attr("disabled", true);
              $("ul li label input[value='prokka']").attr("disabled", true);
              $("ul li label input[value='prokka']").attr("checked", false);
              $("ul li label input[value='rasttk']").attr("checked", false);
          }
          if (value == "prokaryotes"){
              $("ul li label input[value='vapid']").attr("disabled", true);
              $("ul li label input[value='vadr']").attr("disabled", true);
              $("ul li label input[value='genemarkes']").attr("disabled", true);
              $("ul li label input[value='augustus']").attr("disabled", true);
              $("ul li label input[value='funannotate']").attr("disabled", true);
              $("ul li label input[value='pgap']").attr("disabled", false);
              $("ul li label input[value='rasttk']").attr("disabled", false);
              $("ul li label input[value='prokka']").attr("disabled", false);
              $("ul li label input[value='prokka']").attr("checked", false);
              $("ul li label input[value='rasttk']").attr("checked", false);
          }
       });
    
    */   
       // if users want to send unique code to their email box:
       function myFunction(){
            window.open("/DLSNPv1/email/", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=400, left=500, width=800, height=200");
       }
    </script>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    
    
    
    
    
   

    
</html>

